<div class="card mb-3">
  <div class="row g-0">
    <div class="col-2 img-card">
    <%= link_to user_path(user) do %>
      <%= image_tag(user&.photo) if user.photo.present? %>
    <% end %>  
    </div>
    <div class="col-10">
      <div class="card-body">
        <h5 class="card-title"><%= link_to user&.name, user_path(user) %></h5>
        <p class="card-text text-end"><small class="text-muted">Number of posts: <%= user&.posts_counter %></small></p>
        <div class='text-end mt-3'><%= add_post_link(user) %></div>
      </div>
    </div>
  </div>
</div>
