<main class='content container'>
  <h1>List of users</h1>
  <ul>
    <%= render 'user' %>
    <%= render 'user' %>
    <%= render 'user' %>
    <%= render 'user' %>
    <%= render 'user' %>
    <%= render 'user' %>
  </ul>
</main>