<main class='content container'>
  <ul>
    <%= render 'user' %>
    <%= render 'user' %>
    <%= render 'user' %>
    <%= render 'user' %>
    <%= render 'user' %>
    <%= render 'user' %>
  </ul>
</main>