<main class='content container'>
  <ul>
    <%= render 'user' %>
    <%= render 'bio' %>
    <%= render 'posts/post' %>
    <%= render 'posts/post' %>
    <%= render 'posts/post' %>
  </ul>
  <div class="text-center">
    <button class='btn btn-primary'>See all posts</button>
  </div>
</main>