<div class="card mb-3">
  <div class="card-body">
    <div class='d-flex justify-content-between'>
      <span><h5 class="card-title"><%= link_to post.title, post %></h5></span>
      <div class='d-flex'>
        <span class="px-1"><%= like_link(post) %></span>
        <span  class="px-1"><%= delete_link(post) %></span>
      </div>
    </div>
    <p class="card-text"><%= post.text %></p>
    <div class='d-flex mt-5 justify-content-between'>
      <span><%= link_to 'Add comment', new_post_comment_path(post), class: 'btn btn-primary' %></span>
      <span class="card-text"><small class="text-muted">Comments <%= post.comments_counter %>, Likes <%= post.likes_counter %></small></span>
    </div>
  </div>
</div>

