<main class='content container'>
  <ul>
    <%= render 'users/user' %>
    <%= render 'post' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'post' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
  </ul>
  <div class="text-center">
    <button class='btn btn-primary'>Pagination</button>
  </div>
</main>