<main class='content container'>
  <ul>
    <%= render 'full' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
    <%= render 'comment' %>
  </ul>
</main>